 
 .intro-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  auto;
    grid-template-areas: 
    'left-column center-column right-column';
    column-gap: 1%;
    width: 98%;
    margin: auto;
    
}

.left-column{
    padding-top: 3em;
    grid-area: left-column;
}

.title-fade-out{
    opacity: 0;
    animation-name: fade-out;
    animation-duration: 2s;
    color: black;
  }
  .title-fade-in{
    opacity: 100;
    animation-name: fade-in;
    animation-duration: 2s;
    color: black;
  }
  
  @keyframes fade-in{
    from{opacity: 0;}
    to{opacity: 100;}
  }
  
  @keyframes fade-out{
  from{opacity: 100;}
  to{opacity: 0;}
  }

.center-column{
   display: grid;
    grid-area:center-column;
    padding-bottom: 3em;
  padding-top:6em;
  justify-content: center;
}
#preview-shadow{
    width: 75%;
    height: 25vh;
    background-color: var(--previewShadow);
    padding:3em;
    text-align: center;
    justify-content: start;
}


.right-column{
   
    display: flex;
    justify-content: start;
    flex-direction: column;
    grid-area:right-column;
    
}
   
p{
    color: rgb(36, 35, 35);
    margin: 0 0 10px;
}

@media screen and (max-width:1024px)
{
    body{
        font-size: 15px;
    }
    .intro-wrapper{
        display: grid;
        border-radius: 7px 7px 0 0;
        grid-template-columns: auto ;
      
        grid-template-areas: 
        'left-column'
        'center-column'
        'right-column';
        row-gap: 3%;

    } 
    .center-column{
        justify-content: center;
    }
    .right-column{
        justify-content: center;
        margin: auto;
    }
} 
@media screen and (max-width:600px)
{
    .left-column{
        padding: 0;
        text-align: justify;
    }
    .center-column{
        padding: 0;
    }
    
    #theme-option-wrapper{
        padding: 0;
    }
    #preview-shadow{
        height: 31vh;
        width: 100%;
        padding: 0;
    }
   
    
}