.projectsWrapper{
  border-top: 1px solid gray;
  width:90%;
  text-overflow: inherit;
  justify-items: center;
  background-color: var(--mainColor);
  margin: auto;
  border-radius: 7px 7px 0 0;
  -webkit-box-shadow: 4px -1px 13px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 4px -1px 13px -3px rgba(0,0,0,0.75);
box-shadow: 4px -1px 13px -3px rgba(0,0,0,0.75);
    }
    .projectsWrapper h3{
       display: flex;
       flex-direction: column;
        overflow-wrap: break-word;
        text-align: center;
    }
    #projectItem{
        display:flex;
        column-gap: 5%;
        justify-content: center;
       
    }
    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
      
        
      }
      
      /* On mouse-over, add a deeper shadow */
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      .container {
        padding: 2px 16px;
      }
    #projectItem img{
        width:100%;
        height: 25vh;
    }
             
     