.projectsWrapper{
    display:flex;
    flex-direction: column;
  height: 100vh;
    border-top: 1px solid gray;
    width:98%;
    text-overflow: inherit;
    justify-items: center;
    background-color: var(--mainColor);
    
    }
    .projectsWrapper h3{
       
        overflow-wrap: break-word;
        text-align: center;
    }
    #projectItem{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
       
        -webkit-box-shadow: 7px 0px 20px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: 7px 0px 20px -3px rgba(0,0,0,0.75);
        box-shadow: 7px 0px 20px -3px rgba(0,0,0,0.75);
    }
    #projectItem img{
        width:100%;
    }
    #projectItem Div{
    display: block;
    padding: 0 3%;
    border : 1px solid black;
    margin: 2%;
    width:30%;
    }
