#summarywrapper{
    border-top: 1px solid gray;
    width:90%;
    text-overflow: inherit;
    justify-items: center;
    background-color: var(--mainColor);
    margin: auto;
    border-radius: 7px 7px 0 0;
    -webkit-box-shadow: 4px -1px 13px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px -1px 13px -3px rgba(0,0,0,0.75);
  box-shadow: 4px -1px 13px -3px rgba(0,0,0,0.75);
}

.header{
    margin: 0 20px;
    color: gray;
}
.nolist{
    display: block;
    margin:0;
    line-break: auto;
    
}
.nolist li{
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 2em;
}

