:root{
  --mainColor:white;
  --mainText:rgb(27, 26, 26);
}

html,body{
   margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: black;
  font-size: 15px;
  overflow-y: scroll;
 width:100%;
  
}

h1,h2,h3,h4,h5,h6,strong{
 color:var(--mainText);
  font-weight: bold;
  text-size-adjust:inherit;
  font-size: 1.5rem;
}
a{
  font-size: 1rem;
  overflow-wrap: break-word;
}
p{
  text-size-adjust:inherit;
}
#root{
  display: grid;
  align-items: center;
  width:100%;
  justify-content: center;
  
  
}
/* .navBarWrapper::before{
  content: '';
  background: url('./Assets/background_1.jpg');
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: repeat-y;
object-fit: cover;
  z-index: -1;
  opacity: 1;
} */

.JokeWrapper{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:var(--mainColor);
  width: 70vw;
  height: 100%;
  padding-top: 2%;
  justify-items: center;
  text-align: center;
}
.JokeWrapper div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  margin: auto;
  
}

button{
  display: block;
  width:20%;
  height: 5%;
  margin: 1% 40%;
  border-radius: 5px;
  text-size-adjust: inherit;
}

@media only screen  and (max-width:900px)
{
    .navBarWrapper ul{
      flex-direction: column;
      justify-content: flex-start;
  }
  #projectItem{
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .ProfileWrapper{
    align-items: center;
    
  }
  
  body{
    font-size: 20px;
  }
  .ContactWrapper{
    flex-direction: column;
  }
} 

@media only screen and (max-width:299px)
{
  .projectsWrapper{
    justify-items: left;
    margin: 0;
  }
  
  #projectItem{
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }
  .ContactWrapper{
    grid-template-columns: 1fr;
    grid-template-areas: 
    'mail'
    'phone' 
    'skype';
  }
}