

body{
  text-align: center;
  font-size: 0.8rem;
 
 font-family: 'Ubuntu', sans-serif;
  /* background-color:#83f1d652; */
  margin: 0;
  padding: 0;
  background-color: black;
}

h1,h2,h3,h4,h5,h6,strong{
  font-weight: 400;
  
}
#root{
  display: grid;
  grid-template-columns: auto;
  
}
.navBarWrapper::before{
  content: '';
  background: url('./Assets/background_1.jpg');
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 1;
}

.JokeWrapper{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 65%;
  height: 100vh;
  padding-top: 2%;
  justify-items: auto;
}

button{
  display: block;
  width:12%;
  height: 5%;
  margin: 1% 43%;
  border-radius: 5px;
  
}

@media screen and (max-width:900px)
{
    .navBarWrapper{
      flex-direction: column;
  
  }
  #projectItem{
    flex-direction: column;
    align-items: center;
  }
  .ProfileWrapper{
    align-items: center;
  }
   body{
     font-size: 1.5rem;
   }
} 